{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Energy for a World in Motion</p>
            </div>
        </div>
    </header>
</br></br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <h2>Hi, we're Helios Energy</h2></br>
                    <p align="justify">Helios is a forward-thinking solar energy solutions provider dedicated to transforming lives and businesses across Zambia and beyond. We specialize in delivering affordable, reliable, and sustainable solar energy systems to farmers, small businesses, and households. Our mission is to bridge the energy gap, drive economic growth, and foster environmental sustainability by making clean energy accessible to all.</p>
                </div>
            </br></br>
                <div class="col-md-6">
                    <h2>Our Vision</h2></br>
                    <p align="justify">We envision a future where every individual, business, and community has access to clean, renewable energy. By harnessing the power of the sun, we aim to create a self-sustaining energy ecosystem that empowers people, boosts productivity, and protects the planet.</p>
                </div>
            </br></br>
                <div class="col-md-6">
                    <h2>Our Mision</h2></br>
                    <p align="justify">Our vision is to create a world where everyone has access to clean, affordable, and reliable solar power. We believe that solar power is the key to a sustainable future and we are committed to making it a reality.</p>
                </div>
                
            </center>  
        </div>
    </div>
</br></br>




{% endblock %}