{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="py-5 text-white" style="background: linear-gradient(90deg, var(--bs-primary) 0%, var(--bs-dark) 100%);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-5 fw-bold text-warning">Browse Categories 🗂️</h1>
            <p class="lead fw-normal text-light mb-0">Find the right solar solution for your needs.</p>
        </div>
    </div>
</header>


</br></br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-8">
                  <br/><br/><br/><br/>

                  {% for category in categories %}

                  <h3><a href="{% url 'category' category %}"> {{ category }}</a> </h3>


                  {% endfor %}
                </div>
            </center>  
        </div>
    </div>
</br></br>




{% endblock %}