{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="py-5 text-white" style="background: linear-gradient(90deg, var(--bs-primary) 0%, var(--bs-dark) 100%);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-5 fw-bold text-warning">Welcome Back! 👋</h1>
            <p class="lead fw-normal text-light mb-0">Sign in to your HELIOS account.</p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">

                </br></br>

                
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    
  <div class="mb-3">
    
    <input type="text" class="form-control" name="username" placeholder="Enter your username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter your Password">
  </div>
</br></br>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

</br></br></br></br>
                
                </div>
            </center>  
        </div>
    </div>
</br></br>




{% endblock %}